/* styles.css */

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  /* Styles spécifiques à identifier_chanson */
  #music-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f2f2f2;
  }
  
  /* Media queries pour une mise en page responsive */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  